In [2]:
import pandas as pd
import sqlalchemy

In [3]:
from sqlalchemy import create_engine, MetaData, Table, inspect

In [4]:
engine = create_engine("sqlite:///:memory:")

In [5]:
dados = pd.read_csv("https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv")
dados.head()

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008808,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio
4,5008809,52,Ensino médio,Solteiro,1,Associado comercial,Vendas,8,270000.0,0,Casa/apartamento próprio

In [6]:
dados.shape

(438463, 11)

In [8]:
dados.to_sql("clientes", engine, index=False)

C:\Users\MATPAS\AppData\Local\Temp\1\ipykernel_22124\553401670.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dados.to_sql("clientes", engine, index=False)

AttributeError: 'Engine' object has no attribute 'cursor'

In [ ]:
inspector = inspect(engine)

In [10]:
print(inspector.get_table_names())

NameError: name 'inspector' is not defined

In [11]:
query = "SELECT * FROM clientes WHERE Categoria_de_renda = 'Empregado'"

In [12]:
empregados = pd.read_sql(query, engine)
# read_sql lê apenas uma consulta

C:\Users\MATPAS\AppData\Local\Temp\1\ipykernel_22124\1489999150.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  empregados = pd.read_sql(query, engine)

AttributeError: 'Engine' object has no attribute 'cursor'

In [13]:
empregados

NameError: name 'empregados' is not defined

In [ ]:
empregados.to_sql("empregados", con=engine, index=False)

226059

In [ ]:
pd.read_sql_table("empregados", engine)
# read_sql_table lê uma tabela inteira

,ID_Cliente,Idade,Grau_escolaridade,Estado_civil,Tamanho_familia,Categoria_de_renda,Ocupacao,Anos_empregado,Rendimento_anual,Tem_carro,Moradia
0,5008804,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
1,5008805,32,Ensino superior,União-estável,2,Empregado,Outro,12,427500.0,1,Apartamento alugado
2,5008806,58,Ensino médio,Casado,2,Empregado,Segurança,3,112500.0,1,Casa/apartamento próprio
3,5008815,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
4,5112956,46,Ensino superior,Casado,2,Empregado,Contabilidade,2,270000.0,1,Casa/apartamento próprio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226055,6837906,43,Ensino médio,Casado,3,Empregado,Outro,7,355050.0,1,Casa/apartamento próprio
226056,6839936,34,Ensino médio,Casado,3,Empregado,Construção Civil,5,135000.0,1,Casa/apartamento próprio
226057,6840222,43,Ensino médio,Solteiro,1,Empregado,Construção Civil,8,103500.0,0,Casa/apartamento próprio
226058,6842885,51,Ensino médio,Casado,2,Empregado,Vendas,3,121500.0,0,Casa/apartamento próprio

In [ ]:
pd.read_sql_table("empregados", engine, columns=["ID_Cliente", "Grau_escolaridade", "Rendimento_anual"])

        ID_Cliente Grau_escolaridade  Rendimento_anual
0          5008804   Ensino superior          427500.0
1          5008805   Ensino superior          427500.0
2          5008806      Ensino médio          112500.0
3          5008815   Ensino superior          270000.0
4          5112956   Ensino superior          270000.0
...            ...               ...               ...
226054     6837905      Ensino médio          355050.0
226055     6837906      Ensino médio          355050.0
226056     6839936      Ensino médio          135000.0
226057     6840222      Ensino médio          103500.0
226058     6842885      Ensino médio          121500.0

[226059 rows x 3 columns]

In [14]:
query = "DELETE FROM clientes WHERE ID_Cliente = 5008804"
with engine.connect() as conn:
    conn.execute(query)

C:\Users\MATPAS\AppData\Local\Temp\1\ipykernel_22124\3978475777.py:3: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  conn.execute(query)

OperationalError: (sqlite3.OperationalError) no such table: clientes
[SQL: DELETE FROM clientes WHERE ID_Cliente = 5008804]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
pd.read_sql_table("clientes", engine)

In [ ]:
query = "UPDATE clientes SET Grau_escolaridade='Ensino superior' WHERE ID_Cliente = 5008808"
with engine.connect() as conn:
    conn.execute(query)

In [ ]:
pd.read_sql_table("clientes", engine)

---

#### Desafio

In [15]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, inspect
engine = create_engine("sqlite:///:memory:")

In [16]:
import pandas as pd
url = "https://raw.githubusercontent.com/alura-cursos/Pandas/main/clientes_banco.csv"
dados = pd.read_csv(url)
dados.to_sql("clientes", engine, index=False)

C:\Users\MATPAS\AppData\Local\Temp\1\ipykernel_22124\956432070.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dados.to_sql("clientes", engine, index=False)

AttributeError: 'Engine' object has no attribute 'cursor'